@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color:rgb(10,10,10) ;
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family:'Lato','Monserrat','Tahoma' ;
}
header{
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}
.image-container{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(240, 240, 240);
    
} 
.share-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}
.share-button svg{
    margin-left: 12px;
    margin-top: 10px;
    color: rgb(0,0,0);
}
.container{
    width: 91%;
    max-width:  680px; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 20px;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: rgb(240, 240, 240);

}
.tile{
    width: 100%;
    background-color: rgb(37, 37, 37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}
.tile:hover{
    transition: cubic-bezier(0.07,1.41,0.82,1.41) 0.2s;
    transform: scale(1.02);
}
.tile-share-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52,52,52);
    margin: 8px;
}
.tile-share-button svg{
    margin-left: 12px;
    margin-top: 10px;
}
.icon{
    border-radius: 22px;
    width: 44px;
    height: 44px;
    margin: 4px 8px;
}
